
<!-- 
I built this (and all my handlebar pages) based off old activities and haven't been able to get anything to load yet. -->

<h1>Daddy Would You Like Some Sausage!</h1>

<div class="row">
  <center>

    <div class="col-md-6">
      <h4 class="red_font">Ready to eat!</h4>
      <div id="ready_to_eat">

    
        {{#each sausages}}
          {{#unless devoured}}
          <form action="sausage/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{sausage_type}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-success devour-button" type="submit">Nom It!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

      </div>
    </div>

    <div class="col-md-6">
      <h4 class="red_font">Already eaten!</h4>
      <div id="already_eaten">

        {{#each sausages}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.sausages_type}}</li>
              <span class="input-group-btn">
                <button class="btn btn-info whine-button" type="button">Yum!</button>
              </span>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>
  </center>
</div>